*,body{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  min-width: 100vw;
  min-height: 100vh;
}
.wrapper {
  width: 100%;
  height: 100%;
  padding: 1rem;    
  background: rgba(233, 231, 231,0.4);
  display: flex;
  justify-content: center;
}

.product-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  max-width: 1450px;
}

.product-item {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 1rem;
  border-radius: 0.3rem;
  margin-bottom: 5px;
  box-shadow: #80808057 2px 2px 4px 0px;
  transition: transform 0.3s ease-in-out;
  
}
.product-item:hover {
  transform:scale(1.05);
}
.product-img{
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.product-category{
  font-size: 0.8rem;
  color: rgb(148, 142, 142);
  padding: 0.4rem 0.4rem;
}
.product-title {
  color: rgb(94, 91, 91);
  padding: 0 0.4rem;
  font-weight: 600;
}

.product-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5px 10px;
  border-top: 1px solid rgb(247, 241, 241);
}
.sale-price {
  color: rgb(128, 128, 221);
}
.sale-price del {
  color: rgb(148, 142, 142);
}
.cart-btn {
  text-decoration: none;
  background: greenyellow;
  padding: 6px 8px;
  box-shadow: greenyellow 1px 1px 2px 1px;
  border-radius: 3px;
  color: gray;
  margin-left: 10px;
  transition:  0.2s ease-in-out;
  outline: none;
  border:none ;
}
.cart-btn:hover {
  background: rgb(121, 156, 69);
  box-shadow:rgb(121, 156, 69) 1px 1px 2px 1px;
  color: greenyellow;
}

/* detail page */

.detail-box{
  display: flex;
  flex-direction: column;
  max-width: 1450px;
  justify-content: center;
  
}
.detail-img{
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 4px;
}
.detail-img img{
  width: 100%;
  height: 100%;
}

.product-detail {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-items: center;
  padding: 10px;
  border-radius: 2px;


}
.detail-box .product-detail .product-category{
  font-size: 1rem;
}
.detail-box .product-detail .product-title{
  font-size: 1.8rem;
  margin-top: 5px;
}
.detail-box .product-detail .sale-price{
  font-size: 1.2rem;
  margin-left: 10px;
  margin-top: 10px;
}
.detail-box .product-detail .product-action{
 display: flex;
  
}
.detail-box .product-detail .cart-btn{
  margin-right: 30px;
 
}
.detail-box .product-detail .product-des-heading{
  color: gray;
  margin-left: 10px;
}
.detail-box .product-detail .product-des{
  color: gray;
  margin:20px 10px;
  margin-right: 30px;
  text-align: justify;
}
@media only screen and (min-width: 800px) {
  .detail-box{
      display: flex;
      flex-direction: row;
  }
  .detail-img{
      margin-bottom: 0;
      margin-right: 10px;
  }
}
/* cart */



.order-box {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 4px;

}
.order-box h1 {
    color: gray;
    padding: 1rem;
    margin: 10px 20px;
}
.order-item {
    display: flex;
    padding: 0.5rem;
    gap: 10px;
    margin:0 30px;
    border-bottom: 1px solid rgb(233, 227, 227);
}
.order-items .order-item img {
  width: 100px;
  height: 100px;
} 
.order-item div {
    color: gray;
    padding: 0.5rem;
    font-size: 1rem;
    margin-top: 20px ;
  }
  .order-item div .price{
      color: rgb(128, 128, 221);
      margin-top: 10px;
  }
  .order-item div .price span {
      color: rgb(148, 142, 142);
  }
  /* order total */
  .order-total {
      padding: 1rem;
      margin: 0 30px ;
  }
  .order-total .subtotal {
      display: flex;
      flex-direction: column;
      color:gray;
      gap: 5px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgb(233, 227, 227);
  }
  .order-total .subtotal p {
      flex-grow: 1;
  }
  .order-total .subtotal p strong{
      margin-left: 60%;
  }

  .order-total .total{
      margin-top: 20px ;
      color: gray;
      font-size: 2rem;
      margin-left: 35%;
  }
  /* order-checkout */

  .order-checkout {
      width: 100%;
      min-height: 100vh;
      margin-top: 20px;
      padding:  16px 30px;
  }
  .order-checkout h1{
      color: rgb(73, 71, 71);
  }
  .order-checkout h4{
      margin-top: 10px;
      color: rgb(73, 71, 71);
  }

.checkout-form{
  margin-top: 30px;
  max-width: 800px;
  display: grid;
  gap: 5%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60px 60px 100px 100px ;
}
.checkout-form .form-address{
  grid-column:  1/3;
}
.checkout-form .form-note{
  grid-column:  1/3;
}
.checkout-form-submit{
  grid-column:  1/3;
  display: flex;
  justify-content: center;
}

.form-group {
  display: flex;
  flex-direction:column;
}
.form-group input {
  height: 30px;
  padding: 5px;
  border-radius: 4px;
  border: darkgray solid 1px;
}
.checkout-form .form-address textarea{

  border-radius: 4px;
  border: darkgray solid 1px;
  height: 100px;
}
.checkout-form .form-note textarea{
  
  border-radius: 4px;
  border: darkgray solid 1px;
  height: 100px;
}

.checkout-form-submit button {
  background: greenyellow;
  padding: 6px 8px;
  font-size: 1rem;
  box-shadow: greenyellow 1px 1px 2px 1px;
  border-radius: 3px;
  color: #000;
  font-weight: 600;
  transition:  0.2s ease-in-out;
  outline: none;
  border:none;
}

.checkout-form-submit button:hover {
  background: rgb(121, 156, 69);
  box-shadow:rgb(121, 156, 69) 1px 1px 2px 1px;
  color: greenyellow;
}

@media only screen and (max-width: 650px) {
  .checkout-form{
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
  }
  .checkout-form .form-address{
      grid-column:  1/1;
  }
  .checkout-form .form-note{
      grid-column:  1/1;
  }
  .checkout-form-submit{
      grid-column:  1/1;
      display: flex;
      justify-content: center;
  }
}

@media only screen and (max-width: 1000px) {
  .wrapper {
  justify-content: center;
      flex-direction: column;
      align-items: center;
  }
}

svg.w-20.h-20.fill-current.text-gray-500{
  display: none;
}